@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
}

:root {
    --calculator-case: rgb(54, 54, 54);
}

.calculator-case {
    width: 450px;
    height: 500px;
    background-color: var(--calculator-case);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.number-display {
    background-color: red;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

#main-number-display,
#secondary-number-display {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

#main-number-display {
    height: 65px;
    font-size: 30px;
}

#secondary-number-display {
    height: 35px;
}

.buttons-display {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

.button-row {
    height: 87.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    height: 77.5px;
    width: 90px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: rgb(125, 177, 194);
}


body {
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}