* {
    margin: 0;
}

.calc-container {
    height: 550px;
    width: 500px;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    height: 400px;
    width: 450px;
    background-color: aqua;
    margin-bottom: 25px;
}

.number-display {
    height: 50px;
    width: 443px;
    margin-bottom: 15px;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}